        body{
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #d31212, #00f2fe);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedor{
            background: rgb(93, 182, 10);
            padding: 40px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 0 15px rgba(179, 19, 19, 0.651);
            width: 350px;
        }

/* Título */
h1{
    color: #ff4081;
    font-size: 50px;
    text-shadow: 3px 3px #ffd54f;
    margin-bottom: 20px;
}

/* Imagen */
img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 20px;
    transition: transform 0.3s;
    text-align: center;
}

img:hover{
    transform: scale(1.1) rotate(5deg);
}

/* Botones */
button{
    display: block;
    width: 85%;
    margin: 12px auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #4CAF50, #66bb6a);
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button:hover{
    transform: scale(1.05);
    background: linear-gradient(to right, #43a047, #81c784);
}

button:active{
    transform: scale(0.98);
}


/* Resultado */
#resultado{
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

/* Puntaje */
#puntaje{
    font-size: 26px;
    color: #3949ab;
    background: #e8eaf6;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
}

/* Botón reiniciar */
#reiniciar{
    background: linear-gradient(to right, #ff9800, #ffb74d);
}

#reiniciar:hover{
    background: linear-gradient(to right, #fb8c00, #ffcc80);
}

/* Animación */
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.boton-juego{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #ff4081, #ff80ab);
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    text-decoration: none;
}

.boton-juego:hover{
    transform: scale(1.08) rotate(-2deg);
    background: linear-gradient(to right, #f50057, #ff4081);
}

.boton-juego:active{
    transform: scale(0.95);
}