*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Arial', sans-serif;
}

body{
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.contenedor{
    background:white;
    width:900px;
    max-width:100%;
    border-radius:20px;
    padding:30px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    color:#0d6efd;
    margin-bottom:10px;
}

.instruccion{
    font-size:20px;
    margin-bottom:20px;
    color:#333;
}

#numeros{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:30px;
    min-height:80px;
}

.numero{
    background:#ffc107;
    color:#000;
    padding:15px 25px;
    border-radius:15px;
    font-size:28px;
    font-weight:bold;
    cursor:grab;
    user-select:none;
    transition:0.3s;
}

.numero:hover{
    transform:scale(1.05);
}

#zonaOrden{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    min-height:100px;
    border:3px dashed #0d6efd;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    background:#f8f9fa;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    margin:5px;
    color:white;
}

.btn-comprobar{
    background:#28a745;
}

.btn-nuevo{
    background:#0d6efd;
}

.btn-siguiente{
    background: linear-gradient(135deg, #8a25e9, #7218bb);
        color: white;
        border: none;
        padding: 14px 35px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

#mensaje{
    margin-top:20px;
    font-size:24px;
    font-weight:bold;
}

#puntaje{
    margin-top:15px;
    font-size:20px;
    color:#444;
}